<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--PERSONALIZABLES--><!--PERSONALIZABLES--><!--PERSONALIZABLES--><!--PERSONALIZABLES--><!--PERSONALIZABLES--><!--PERSONALIZABLES-->
    <!--COLLECCIONES - PERSONALIZABLES-->
    {% if request.path contains 'personalizables' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'filipinas' %}
            {% assign exclude_keyword = 'filipinas' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'accesorios' %}
            {% assign exclude_keyword = 'accesorios' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'personalizables' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}


    <!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE--><!--HOMBRE-->
    <!--RESTAURANTE HOMBRE L2-->
    {% if request.path == '/collections/uniformes-para-restaurante-chef-hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'restaurantes' and collection.handle contains 'hombre' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--RESTAURANTE HOMBRE L3-->
    {% if request.path contains 'restaurantes' and request.path contains 'hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'filipina' %}
            {% assign exclude_keyword = 'filipina' %}
        {% elsif request.path contains 'playera' %}
            {% assign exclude_keyword = 'playera' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
        {% elsif request.path contains 'mandiles' %}
            {% assign exclude_keyword = 'mandiles' %}
            
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'restaurantes' and collection.handle contains 'hombre' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--EJECUTIVO HOMBRE L2-->
    {% if request.path == '/collections/uniformes-ejecutivo-para-oficina-de-hombre-empresarial' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'ejecutivos' and collection.handle contains 'hombre' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--EJECUTIVO HOMBRE L3-->
    {% if request.path contains 'ejecutivos' and request.path contains 'hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'chamarras' %}
            {% assign exclude_keyword = 'chamarras' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
    
            
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'ejecutivos' and collection.handle contains 'hombre' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <!--HOTEL HOMBRE L2-->
    {% if request.path == '/collections/uniformes-para-hotel-hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'hoteles' and collection.handle contains 'hombre' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--HOTELES HOMBRE L3-->
    {% if request.path contains 'hoteles' and request.path contains 'hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'bermudas' %}
            {% assign exclude_keyword = 'bermudas' %}
        {% elsif request.path contains 'camarista' %}
            {% assign exclude_keyword = 'camarista' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
        {% elsif request.path contains 'filipinas' %}
            {% assign exclude_keyword = 'filipinas' %}
        {% elsif request.path contains 'mandiles' %}
            {% assign exclude_keyword = 'mandiles' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}   
        {% elsif request.path contains 'cocina' %}
            {% assign exclude_keyword = 'cocina' %}
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'hoteles' and collection.handle contains 'hombre' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <!--MEDICO HOMBRE L2-->
    {% if request.path == '/collections/uniformes-de-medico-quirurjicos-veterinarios-salud-hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'medicos' and collection.handle contains 'hombre' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--MEDICO HOMBRE L3-->
    {% if request.path contains 'medicos' and request.path contains 'hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'scrub' %}
            {% assign exclude_keyword = 'scrub' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'medicos' and collection.handle contains 'hombre' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}



    <!--INDUSTRIAL HOMBRE L2-->
    {% if request.path == '/collections/uniformes-para-mantenimiento-industrial-hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'industriales' and collection.handle contains 'hombre' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--INDUSTRIAl HOMBRE L3-->
    {% if request.path contains 'industriales' and request.path contains 'hombre' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'chalecos' %}
            {% assign exclude_keyword = 'chalecos' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'overoles' %}
            {% assign exclude_keyword = 'overoles' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}
        {% elsif request.path contains 'sudadera' %}
            {% assign exclude_keyword = 'sudadera' %}
        
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'industriales' and collection.handle contains 'hombre' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}










    <!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER--><!--MUJER-->

    <!--RESTAURANTE MUJER L2-->
    {% if request.path == '/collections/uniformes-para-restaurante-chef-mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'restaurantes' and collection.handle contains 'mujer' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--RESTAURANTE MUJER L3-->
    {% if request.path contains 'restaurantes' and request.path contains 'mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'filipina' %}
            {% assign exclude_keyword = 'filipina' %}
        {% elsif request.path contains 'casuales' %}
            {% assign exclude_keyword = 'casuales' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
        {% elsif request.path contains 'mandiles' %}
            {% assign exclude_keyword = 'mandiles' %}
        {% elsif request.path contains 'polo' %}
            {% assign exclude_keyword = 'polo' %}
            
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'restaurantes' and collection.handle contains 'mujer' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--EJECUTIVO MUJER L2-->
    {% if request.path == '/collections/uniformes-para-oficina-ejecutivo-de-mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'ejecutivos' and collection.handle contains 'mujer' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--EJECUTIVO MUJER L3-->
    {% if request.path contains 'ejecutivos' and request.path contains 'mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'chamarras' %}
            {% assign exclude_keyword = 'chamarras' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
    
            
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'ejecutivos' and collection.handle contains 'mujer' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--HOTEL MUJER L2-->
    {% if request.path == '/collections/uniformes-para-hotel-de-mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'hoteles' and collection.handle contains 'mujer' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--HOTELES MUJER L3-->
    {% if request.path contains 'hoteles' and request.path contains 'mujer' %}
    <div class="collection-categories-wrapper">
    <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'bermudas' %}
            {% assign exclude_keyword = 'bermudas' %}
        {% elsif request.path contains 'camarista' %}
            {% assign exclude_keyword = 'camarista' %}
        {% elsif request.path contains 'camisas' %}
            {% assign exclude_keyword = 'camisas' %}
        {% elsif request.path contains 'mandiles' %}
            {% assign exclude_keyword = 'mandiles' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}   
        {% elsif request.path contains 'cocina' %}
            {% assign exclude_keyword = 'cocina' %}
        
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'hoteles' and collection.handle contains 'mujer' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--MEDICO MUJER L2-->
    {% if request.path == '/collections/uniformes-salud-de-mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'medicos' and collection.handle contains 'mujer' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--MEDICO MUJER L3-->
    {% if request.path contains 'medicos' and request.path contains 'mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'scrub' %}
            {% assign exclude_keyword = 'scrub' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'medicos' and collection.handle contains 'mujer' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--INDUSTRIAL MUJER L2-->
    {% if request.path == '/collections/uniformes-industrial-y-mantenimiento-para-mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {% for collection in collections %}
            {% if collection.handle contains 'industriales' and collection.handle contains 'mujer' %}
            {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--INDUSTRIAl MUJER L3-->
    {% if request.path contains 'industriales' and request.path contains 'mujer' %}
    <div class="collection-categories-wrapper">
        <div class="collection-categories">
        {% assign collections_to_show = '' %}
        
        {%- comment -%}
        Obtener la palabra clave a excluir dinámicamente
        {%- endcomment -%}
        {% assign exclude_keyword = '' %}
        
        {% if request.path contains 'chaleco' %}
            {% assign exclude_keyword = 'chaleco' %}
        {% elsif request.path contains 'pantalones' %}
            {% assign exclude_keyword = 'pantalones' %}
        {% elsif request.path contains 'overol' %}
            {% assign exclude_keyword = 'overol' %}
        {% elsif request.path contains 'sudaderas' %}
            {% assign exclude_keyword = 'sudaderas' %}
        {% elsif request.path contains 'playeras' %}
            {% assign exclude_keyword = 'playeras' %}
        
        {% endif %}
    
        {%- comment -%}
        Recorrer todas las colecciones y excluir la que coincida con la palabra clave detectada
        {%- endcomment -%}
        {% for collection in collections %}
            {% if collection.handle contains 'industriales' and collection.handle contains 'mujer' %}
            {% unless collection.handle contains exclude_keyword %}
                {% assign collections_to_show = collections_to_show | append: collection.handle | append: ',' %}
            {% endunless %}
            {% endif %}
        {% endfor %}
        
        {% assign collections_to_show = collections_to_show | split: ',' %}
    
        {%- comment -%}
        Mostrar las colecciones filtradas
        {%- endcomment -%}
        {% for collection_handle in collections_to_show %}
            {% assign collection = collections[collection_handle] %}
            {% if collection %}
            <div class="category-card">
                <a href="{{ collection.url }}">
                <div class="image-wrapper">
                    <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                </div>
                <h3>{{ collection.title }}</h3>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <style>
    .collection-categories-wrapper {
        display: flex;
        justify-content: center;
        overflow-x: auto;
        padding: 10px;
    }

    .collection-categories {
        display: flex;
        justify-content: center;
        gap: 20px;
        scroll-snap-type: x mandatory;
    }

    .category-card {
        flex: 0 0 auto;
        scroll-snap-align: center;
        text-align: center;
    }

    .category-card a {
        text-decoration: none;
        color: inherit;
    }

    .image-wrapper {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid transparent;
        transition: border 0.6s ease;
    }

    .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category-card:hover .image-wrapper {
        border-color: #333;
    }

    .category-card h3 {
        margin-top: 10px;
        font-size: 8px;
        color: #333;
    }

    @media (max-width: 768px) {
        .collection-categories-wrapper {
        justify-content: flex-start; /* Align items to the start on mobile */
        }

        .collection-categories {
        gap: 10px; /* Reduce gap between cards on mobile */
        justify-content: flex-start;
        }

        .image-wrapper {
        width: 100px;
        height: 100px;
        }

        .category-card h3 {
        font-size: 6px; /* Adjust font size for mobile */
        }
    }
    </style>







</body>
</html>